    {% extends 'base.html' %}
    {% block title %} Home
    {% endblock title %}
     {% block body %}
      
     
<div class="container mb-3">
    <h2>Add Your Todo</h2>
    <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label"> Todo-tittle</label>
          <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Add your Todo here</div>
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Todo Description</label>
          <input type="text" class="form-control" name ="desc" id="desc">
        </div>
        
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>
<div class="container my-3">
    <h2>Your Todos</h2>
    <table class="table">
        <tbody>
     <thead>
      <tr>
        <th scope="row">Sno</th>
        <th colspan="2">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    
            {% if allTodo|length == 0 %}
            <div class="alert alert-dark" role="alert">
                
                No Todos Found . Add Your first Todo  now
              </div>
            {% else %}
         {% for todo in allTodo %}
         
         <tr>
          <th scope="row">{{loop.index}}</th>
          <td colspan="2">{{todo.title}}</td>
          <td>{{todo.desc}}</td>
          <td>{{todo.date_created}}</td>
          <td>
               <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-success btn-sm mx-1">Update</a></button>
              <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-2">Delete</a></button>
            </td>
        </tr>
         
      </tbody>
   
         {% endfor %}
         {% endif %}
        </table>
        
</div>


{% endblock body %}